@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
main {
  width: 320px;
  margin: auto;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C291A4;
  font-family: "Orbitron", sans-serif;
  border-radius: 20px;
}

body {
  background-color: white;
}

#display {
  border: 2px solid black;
  width: 85%;
  height: 15%;
  margin: 2% auto;
  background-color: lightgray;
  font-size: x-large;
  color: #014421;
  display: flex;
  align-items: center;
  border-radius: 10%;
  border-color: #014421;
}

#result {
  border: 2px solid black;
  width: 85%;
  height: 15%;
  margin: auto;
  color: #014421;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: lightgray;
  font-size: x-large;
  display: flex;
  align-items: center;
  border-radius: 10%;
  border-color: #014421;
}

.number {
  background-color: #014421;
  color: white;
}

.operator {
  background-color: #91C2AF;
  color: black;
}

#grid-container {
  display: grid;
  margin: auto;
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  border-radius: 50%;
  height: 80.2px;
  font-family: "Orbitron", sans-serif;
  font-size: larger;
  border: none;
  margin: 2%;
}

.number:active {
  border-color: black;
  box-shadow: 10px 10px 25px 50px #91C2AF inset;
  color: white;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 30px;
}